{% extends "network/layout.html" %}

{% block body %}

<section class="container-fluid">

   
      {% for post in following_posts %}
      <div class="row">
        <div>
          <b>Author:</b>
          <a class="nav-link" href="{% url 'profile' post.author.id %}"> {{post.author.username}}</a>
         
        </div>
        <div>
          <b>content:</b>
          {{post.text}}
        </div>
        <div>
            <b>created at:</b>
            {{post.created_at_date_time|date:'D d M Y'}}
            {{post.created_at_date_time|time:'H:i'}}
        </div>
        <div>
            <b>likes:</b>
            {{post.liked_users__count}}
        </div>
        <hr />
      </div>
      {% endfor %}


      <nav aria-label="Following posts navigation">
        {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}"
              >Prev</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Prev</a>
          </li>
          {% endif %} 
          
          {% for i in paginator.page_range %} 
          
            {% if page_obj.number == i %}
            <li class="page-item"><a class="page-link active">{{ i }}</a></li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %} 
          {% endfor %} 
          
          {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{page_obj.next_page_number}}" class="page-link"
              >Next</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
  </section>
  
  
{% endblock %}