{% extends "network/layout.html" %}

{% block body %}

<section class="container-fluid">


      {% for post in posts %}
      <div class="row post-root {% if post.liked %} liked {% endif %}" id="post-{{ post.id }}" data-author-id="{{post.author.id}}">
        <div >
          <b>Author:</b>
          <a class="nav-link" href="{% url 'profile' post.author.id %}"> {{post.author.username}}</a>
         
        </div>
        <div class="postBody">
          {{post.text}}
        </div>
        <div>
            <b>created at:</b>
            {{post.created_at_date_time|date:'D d M Y'}}
            {{post.created_at_date_time|time:'H:i'}}
        </div>
        <div>
            <b>likes:</b>
            <span class="like-count">{{post.liked_users__count}}</span>
        </div>
        {% if post.can_edit %}
        <div class="action-panel">
          <button class="editBtn" data-post-id="{{ post.id }}">Edit</button>
        </div>
          
        {% endif %} 
        <hr />




        {% include "network/like_btn.html" with post=post %}


      </div>
      {% endfor %}

      {% include "network/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator aria_label="Home posts navigation" %}

  </section>
  
{% endblock %}