/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./styles/style.scss ***!
  \************************************************************************************************************/
.welcome-overlay {
  background-color: #1976d2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.content {
  opacity: 0;
  position: absolute;
  z-index: 7;
  text-align: left;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 48px;
  font-weight: 700;
  animation: on .6s ease-in-out 3.7s forwards;
}
.content .welcome-app-title {
  line-height: 58px;
  text-align: center;
}
.content .welcome-app-title span {
  display: inline-block;
  border-bottom: 1px solid black;
}
.content .welcome-app-description {
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
  display: block;
  color: gray;
  text-align: center;
  font-style: italic;
  font-family: math;
}
.content .welcome-nav {
  font-size: 16px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.welcome-auth-btn {
  display: block;
  margin: 0 auto 12px;
  min-width: 240px;
}

.welcome-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.welcome-wrapper-logo {
  position: absolute;
  transform: translate(-50%);
  top: 50vh;
  z-index: 5;
  left: 50vw;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
  will-change: opacity;
  animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}
.welcome-wrapper-logo:before {
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  animation: type3 0.9s;
  transition: width ease-in-out;
  height: 1px;
  background-color: #757474;
  content: "";
}
.welcome-wrapper-logo:after {
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 100%;
  animation: type3 0.9s ;
  transition: width ease-out;
  height: 1px;
  background-color: #757474;
  content: "";
  will-change: width;
}
.welcome-wrapper-svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.welcome-wrapper-svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.welcome-wrapper-svg svg rect {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  stroke: 0;
  clip-path: polygon(40vw 40vh, 60vw 40vh, 60vw 65vh, 40vw 65vh);
  animation: expand .7s ease-in forwards 2.7s;
}
@media (max-width: 600px) {
  .welcome-wrapper-svg svg rect {
    clip-path: polygon(23vw 40vh, 76vw 40vh, 76vw 68vh, 23vw 68vh);
    animation: expand-mobile .7s ease-in forwards 2.7s;
  }
}
.welcome-wrapper-minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.welcome-wrapper-minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.welcome-wrapper-minimize svg rect {
  width: 100%;
  height: 100%;
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}
@media (max-width: 600px) {
  .welcome-wrapper-minimize svg rect {
    animation: scale-mobile .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  }
}

@keyframes scale {
  100% {
    clip-path: polygon(40vw 40vh, 60vw 40vh, 60vw 65vh, 40vw 65vh);
  }
}
@keyframes scale-mobile {
  100% {
    clip-path: polygon(23vw 40vh, 76vw 40vh, 76vw 68vh, 23vw 68vh);
  }
}
@keyframes hide {
  100% {
    fill: transparent;
  }
}
@keyframes off {
  100% {
    opacity: 0;
  }
}
@keyframes on {
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  100% {
    color: #292929;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes expand {
  25% {
    clip-path: polygon(0vw 0vh, 60vw 40vh, 60vw 65vh, 40vw 65vh);
    fill: #FFFFFF;
  }
  50% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 40vw 65vh);
    fill: #FFFFFF;
  }
  75% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 60vw 65vh, 0vw 100vh);
    fill: #FFFFFF;
  }
  100% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #FFFFFF;
  }
}
@keyframes expand-mobile {
  25% {
    clip-path: polygon(0vw 0vh, 76vw 40vh, 76vw 68vh, 23vw 68vh);
    fill: #FFFFFF;
  }
  50% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 76vw 68vh, 23vw 68vh);
    fill: #FFFFFF;
  }
  75% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 76vw 68vh, 0vw 100vh);
    fill: #FFFFFF;
  }
  100% {
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #FFFFFF;
  }
}
html, body {
  height: 100%;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.font-tech {
  font-family: math;
}

.font-italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.self-center {
  justify-self: center;
  align-self: center;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}

.h-full {
  height: 100%;
}

.w-full {
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .common-form {
  margin: 0 auto;
  max-width: 650px;
}
body .common-form .MuiFormControl-root {
  margin-bottom: 12px;
}
body .common-form input[type=file] {
  display: none;
}
body .common-form .file-pick-label {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
body .common-form .file-pick-label:hover {
  background-color: rgb(249, 250, 251);
}
body .common-form .file-pick-label:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
body .common-form .file-pick-label:focus-visible {
  box-shadow: none;
}
body .common-form .submit-btn {
  margin-top: 24px;
}
body .app-bar {
  width: 100%;
  min-height: 64px;
}
body .nav-content-desktop {
  position: absolute;
  width: 100vw;
  padding-right: 10px;
}
body .nav-item {
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  outline: none;
}
body .nav-item:not(:first-child) {
  margin-left: 12px;
}
body .nav-item:before, body .nav-item:after {
  height: 1px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: white;
  width: 0;
}
body .nav-item:before {
  top: 0;
  left: 0;
}
body .nav-item:after {
  bottom: 0;
  right: 0;
}
body .nav-item:hover:not(.mobile), body .nav-item.active:not(.mobile) {
  color: #ffffff;
}
body .nav-item:hover:before, body .nav-item.active:before, body .nav-item:hover:after, body .nav-item.active:after {
  width: 100%;
}
body .drawer .app-title {
  margin-bottom: 12px;
}
body .drawer .nav-item:before, body .drawer .nav-item:after {
  background-color: #1976d2;
}
body .app-title {
  display: flex;
  flex-direction: column;
}
body .app-title small {
  font-size: 12px;
}

main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#react-root {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.primary-layout {
  min-height: 100%;
  padding-top: 90px;
  flex-grow: 1;
}

.layout-content-wrapper {
  min-height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  padding-bottom: 24px;
  flex-grow: 1;
}

.complex-content-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 24px;
}

.common-wrapper {
  padding: 0 48px 0 24px;
  width: 100%;
}

.pie-wrapper {
  max-width: 90%;
}
.pie-wrapper canvas {
  cursor: pointer;
}

.reset-category-actions {
  display: flex;
  justify-content: space-between;
}

.category-select-wrapper {
  max-width: 400px;
  flex: 1;
}

.content-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-title {
  margin-bottom: 22px;
}

.preview {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.preview-info p {
  margin-bottom: 12px;
}
.preview-info p:last-of-type {
  margin-bottom: 0;
}

.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.create-category .common-form {
  max-width: 500px;
  margin: 0;
}

.category-card {
  margin-top: 38px;
}

.category-preview-wrapper {
  max-width: 435px;
}

.category-card-image-placeholder {
  height: 140px;
}

.create-cost-wrapper > h3, .cost > h3 {
  margin-bottom: 12px;
}
.create-cost-wrapper .create-cost, .create-cost-wrapper .update-cost, .cost .create-cost, .cost .update-cost {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 80px);
  column-gap: 36px;
  row-gap: 28px;
  width: 100%;
  margin: 24px auto 0;
}
.create-cost-wrapper .create-cost .submit-btn, .create-cost-wrapper .update-cost .submit-btn, .cost .create-cost .submit-btn, .cost .update-cost .submit-btn {
  margin-top: 0;
}
.create-cost-wrapper .template-group, .create-cost-wrapper .submit-btn, .cost .template-group, .cost .submit-btn {
  grid-column: 1/3;
}
.create-cost-wrapper .template-group, .cost .template-group {
  margin-top: 24px;
}

.create-cost-predefined {
  max-width: 470px;
  margin: 0 auto;
  width: 100%;
}

.pie-no-costs {
  text-align: center;
  font-style: italic;
}

.cost {
  margin: 0 24px;
}

.template-remark {
  display: inline-block;
  margin-top: 12px;
}

.category-thumbnail-preview {
  max-height: 120px;
  max-width: 120px;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
}

.category-thumbnail-preview-placeholder {
  height: 120px;
  width: 120px;
  background-color: #1976D2;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
@media (max-width: 380px) {
  .category-thumbnail-preview-placeholder {
    height: 100px;
    width: 80px;
    font-size: 12px;
  }
}

.preview.category .preview-info {
  margin: 0 12px;
}

.no-content-box.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-content-box.center .no-content-box-intro {
  display: block;
  text-align: center;
}

.category-select-none-result .category-select-none-result-descr {
  font-size: 12px;
  margin: 0;
}
.category-select-none-result .category-select-none-result-btn {
  width: 100%;
}

.no-templates-msg {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 600px) {
  body .app-bar {
    min-height: 56px;
  }
  body .nav-item:hover, body .nav-item.active {
    color: #000000;
  }
  .reset-category-actions {
    flex-direction: column;
  }
}
.filter-catetogy-title {
  margin-bottom: 6px;
  display: block;
}

.records .content-title {
  margin: 24px 0 12px;
}

@media (max-width: 1040px) {
  body .app-title .MuiTypography-h6 {
    font-size: 16px;
  }
  body .nav-item {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  body .primary-layout .common-form {
    width: 100%;
    margin: 0 auto;
  }
  body .primary-layout .common-form.create-cost {
    margin-top: 24px;
  }
  body .create-category h3 {
    text-align: center;
  }
  body .create-category .create-category-lef-col {
    margin-top: 0;
    padding-top: 0;
  }
  body .create-category .create-category-lef-col {
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(209, 213, 219);
    padding-bottom: 24px;
  }
  body .create-category.update .category-preview-box {
    margin-top: 24px;
    border-top: 1px solid rgb(209, 213, 219);
  }
  body .create-category.update .category-preview-wrapper {
    margin-top: 12px;
  }
  body .complex-content-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "top" "bottom";
  }
  body .right-col {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(209, 213, 219);
  }
  body .common-form .submit-btn {
    margin-top: 12px;
  }
  body .common-wrapper, body .content-list {
    padding: 0 12px;
  }
  body .create-cost-wrapper {
    padding: 0 12px;
  }
  body .category-thumbnail-preview {
    width: 80px;
    height: 100px;
  }
  body .update-cost-title {
    text-align: center;
    margin-bottom: 12px;
  }
  body .cost-record-preview-box {
    margin-top: 24px;
    padding-top: 12px;
    border-top: 1px solid rgb(209, 213, 219);
  }
  body .cost-record-preview-box .cost-record-preview {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
  }
  body .create-cost-predefined,
  body .update-cost-predefined {
    max-width: 500px;
  }
  body .create-cost-predefined h5,
  body .update-cost-predefined h5 {
    margin-bottom: 12px;
  }
  body .update-cost-predefined {
    margin: 0 auto 12px;
    width: 100%;
  }
  body .common-form.create-cost,
  body .common-form.update-cost {
    max-width: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 80px 80px 40px 36px;
    column-gap: 0;
  }
  body .common-form.create-cost .MuiFormControl-root,
  body .common-form.update-cost .MuiFormControl-root {
    grid-column: 1/-1;
  }
  body .common-form.create-cost .template-group,
  body .common-form.update-cost .template-group {
    margin: 0;
  }
  body .common-form.create-cost .category-select-wrapper,
  body .common-form.update-cost .category-select-wrapper {
    max-width: none;
  }
  body .category-preview-wrapper {
    margin: 14px auto 0;
    width: 100%;
  }
  body .category-preview-wrapper .category-card {
    margin-top: 12px;
  }
  body .cost-record-preview {
    margin-top: 24px;
  }
}
@media (max-width: 380px) {
  body .preview-info {
    font-size: 14px;
  }
}
