{% extends "auditor/layout.html" %}
{% load crispy_forms_tags %}  
{% block body %}

{% include 'auditor/common/messages.html' %}


    {% if not request.user.is_authenticated %}
    <div style="margin-top:64px;" class="container py-5">
        Hi. I'm the Index page
        <a href="{% url 'auditor:sign_in' %}">Sign in</a>
        <a href="{% url 'auditor:sign_up' %}">Sign up</a>
    </div>

    {% endif %}



<div id="react-root"></div>

{% endblock %}

{% block script %}
    {% include 'auditor/common/scripts.html'%}  
{% endblock %}

