{% extends "auditor/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

{% include 'auditor/common/messages.html' %}

<div class="container py-5">
	<h1 class="text-center">Sign in</h1>
	<form class="common-form" method="POST">
		{% csrf_token %}
		{{ sign_in_form|crispy }}
		<button class="welcome-auth-btn btn btn-primary" type="submit">Sign in</button>
	</form>

	<p class="text-center">Don't have an account?, <a href="{% url 'auditor:sign_up' %}">Sign Up</a> instead.</p>
</div>

{% endblock %}