html, body {
    height: 100%;
    min-height: 100vh;
}

.primary-layout {
    padding-top: 84px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    .common-form {
        margin: 0 auto;
        max-width: 650px;

        * {
            margin-bottom: 12px;
        }
    }
}