body {
    background: #f6f8fc;
}

textarea {
    min-height: 240px;
}


p, ul {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 12px 0 24px;
}

#emails-view, #compose-view, #email-view {
    display: none;
}


nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li:not(:first-child) {
    margin-left: 12px;
}

.form-group input {
    margin-top: 4px;
}

.mailbox-title, #compose-view h3 {
    text-align: center;
    margin-bottom: 12px;
}


/* emails */
.mail-wrapper {
    display: flex;
    background-color: white;
    padding: 10px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}

#emails-view .mail-wrapper:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 2;
    background-color: #d2d2d2;
}

#emails-view .mail-wrapper {
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
}

#emails-view .mail-wrapper:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#emails-view .mail-wrapper:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#emails-view .mail-wrapper.read {
    background-color: gray;
}
#emails-view .mail-wrapper.read:hover {
    background-color: #bababa;
}

#emails-view .mail-author {
    word-break: break-word;
    width: 25%;
}

#emails-view .mail-subject {
    flex-grow: 1;
    padding-left: 12px;
    width: 50%;
}

#emails-view .mail-timestamp {
    text-align: right;
    width: 25%;
}


/* !emails */

/* email */
#email-view .mail-wrapper {
    flex-direction: column;
    border-radius: 10px;
}

.recipients-wrapper {
    display: flex;
}

.recipients-wrapper .badge {
    font-size: 100%;
}

.recipients-wrapper *:not(:first-child) {
    margin-left: 12px;
}

.mail-row {
    display: flex;
    margin-bottom: 12px;
}
.mail-left-col {
    width: 15%;
    word-break: break-all;
    text-transform: capitalize;
}
.mail-right-col {
    width: 85%;
    padding-left: 0.4em;
}
.mail-header {
    border-bottom: 1px solid black;
}

.mail-actions {
    display: flex;
    margin: 24px 0;
    justify-content: space-between;
}

pre {
    white-space: pre-wrap;
}

/* !email */

/*  compose form  */
#compose-form input[type="submit"] {
    margin: 18px 0 16px;
    float: right;
}
/*  !compose form  */

/*  auth  */
.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.auth-form .btn-primary {
    margin-bottom: 12px;
}

.info {
    text-align: center;
}
/*  !auth  */