{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h1>{{listing.title}}</h1>
        <hr />
        <b>Description</b>
        <p>{{listing.description}}</p>
        <hr />

        <hr />
        <b>Image</b>
        {% if listing.image_url %}
            <p><img src="{{listing.image_url}}" alt="{{listing.title}}" /></p>
        {% else %}
            <p>No Image</p>
        {% endif %}
       
        <hr />

        <hr />
        <b>Categories</b>
        {% if listing.category.exists %}
          
           
            <ol>
            {% for category in listing.category.all %}
                <li>{{ category.title }}</li>
            {% endfor %}
            </ol>
            <hr />
        {% else %}
            <p>Uncategorized</p>
        {% endif %}

        <hr />
        <b>Starting Bid</b>
        <p>{{listing.start_bid}}</p>
        <hr />

        <hr />
        <b>Current Price</b>
        <p>{{listing.current_price}}</p>
        <hr />

        <hr />
        <b>Is in watchlist</b>
        <p>{{listing.is_in_watchlist}}</p>
        <hr />

        <hr />
        <b>Owner</b>
        <p>{{listing.owner.username}}</p>
        <hr />

        <hr />
        <b>Created At</b>
        <p>{{listing.created_at}}</p>
        <hr />

        <hr />
        <b>Comments</b>
        {% if listing.comments.exists %}
  
  
            <ol>
            {% for comments in listing.comments.all %}
                <li><b>{{ comments.author.username }}</b>: {{ comments.text }}</li>
            {% endfor %}
            </ol>

        {% else %}
            <p>No Comments Yet</p>
     
        {% endif %}
        

        {% if listing.is_active %}


                {% if user.is_authenticated %}

                    {% if bid_error %}
                        <h2>{{ bid_error }}</h2>
                    {% endif %}
        
                    <form class="proceed-listing-form" action="{% url 'listing' id=listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="proceed-listing-form">
                        {{ proceed_listing_form }}
                        <input class="save-button save-button btn btn-md btn-primary" type="submit" value="Proceed">
                    </form>

                {% endif %}

                {% if user.id == listing.owner.id %}
                    <form class="close-listing" action="{% url 'listing' id=listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="close-listing-form">
                        <input class="save-button save-button btn btn-md btn-primary" type="submit" value="Close Listing">
                    </form>
                {% endif %}


        {% else %}

                <h1>LISTING IS CLOSED</h1>
                <b>WIN BID IS</b>: {{ listing.win_bid.owner.username }}: {{ listing.win_bid.price }}

                {% if listing.win_bid.owner.id == request.user.id %}
                    <h1>CONGRATULATION!!! YOU WIN THE BID</h1>
                {% endif %}
        {% endif %}
     
        
    <hr />

    

    <!-- Content here -->
  </div>
    
    

{% endblock %}