
<section class="container-fluid">

  <div class="row">
    {% for listing in listings %}
      {% include "auctions/listing_card_view.html" with listing=listing %}
    {% endfor %}
  </div>
</section>
<!-- <ul>
    {% for listing in listings %}
        <li>
            <a href="{% url 'listing' listing.id %}">Listing {{ listing.title }}</a>
            <p>
                {{ listing.description }}
            </p>

            {% if listing.image_url %}
              <figure>
                <img src="{{listing.image_url}}" alt="{{listing.title}}" />
              </figure>
            {% else %}
              <p>No Image</p>
            {% endif %}

            <p>
              <b>Current Price: {{ listing.current_price }}</b>
            </p>
           
            {% if listing.category.exists %}
              <p>Categories</p>
              <ol>
                {% for category in listing.category.all %}
                    <li>{{ category.title }}</li>
                {% endfor %}
              </ol>

            {% endif %}
            
        </li>
    {% endfor %}
</ul> -->