body {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.card-no-image-placeholder {
    min-height: 50%;
    
}

/* --- create listing --- */

/* --- !create listing --- */