body {
    padding: 10px;
}

.flex-form {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}


p, figure {
    margin: 0;
    padding: 0
}

.list-group-item-action {
    color: #007bff;
}

.listing-figure img {
    max-height: 302px;
}

.footer-wrapper {
    margin: 10px 15px;
}

/* don't have time for playing with the custom django checkbox templates on the Sunday evening. Quick solution because the task isn't about it */
label[for="id_in_watchlist"] + input {
    position: absolute;
    top: 15px;
    left: 114px;
}

.listing-comments {
    max-height: 280px;
    overflow: auto;
}

.nav-link.active {
    color: gray;
    cursor: default;
}

.nav-item .badge {
    background-color: rgb(13, 110, 253);
    position: relative;
    color: white;
    right: 10px;
}