body {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

p, figure {
    margin: 0;
    padding: 0
}

/* .card-uncategorized {
    min-height: 40px;
} */

/* --- create listing --- */

/* --- !create listing --- */